.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.breadcrumb a {
  text-decoration: none;
  color: #06131f;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #6c757d;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

#footer-con {
  font-size: 12px;
}

footer {
  background-color: #fff;
}

.btn-custom-green {
  background: #1bc475;
  color: #fff;
}

#footer-nav-links {
  font-size: 14px;
}

.custom-trasparent-image-label {
  bottom: -18px;
  background-color: #595959c2;
  padding: 6px;
  width: 100%;
}

.custom-trasparent-image-label-wrapper {
  overflow: hidden;
  background: #444444a1;
  text-align: center;
}

.custom-trasparent-image-label-wrapper p {
  font-size: 10px;
  text-align: center;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  /* max-height: 25px; */
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link .reportwaste:hover {
  color: #1bc475;
}
.navbar-light .navbar-nav .nav-link .reportwaste:focus {
  color: #00000080;
}
.image-centered-text {
  top: 50%;
  left: 30vw;
  color: #fff;
}
#footer-social-icons a {
  color: #5f5f5f;
}
#footer-nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #5f5f5f;
}
#top-nav a {
  font-size: 15px;
  color: #999;
}
#top-nav a:hover {
  color: #1bc475;
}
#top-nav a.active {
  color: #1bc475;
}

#cookieModal .container {
  width: 100%;
  padding: 2rem 0rem;
}

#cookieModal .modal-dialog {
  margin-top: 0rem;
  max-width: 100%;
}

#cookieModal .modal-content {
  border-radius: 0rem;
}

#cookieModal .buttons,
#cookieModal .btn {
  margin: 0.2rem;
}
.top_bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(45deg, #1c5b28, #0a661b);
  border-radius: 100% 100% 100%/0 0 100% 100%;
  transform: scaleX(1);
}
.top_bar .content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  top: -150px;
}
.top_bar {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box_container {
  width: 82%;
  height: 474px;
  background: #2c3e50;
  position: relative;
  top: -350px;
  margin: auto;
  padding-top: 70px;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: #121416 !important;
}

.text-muted {
  color: #6c757d !important;
}
.float-right {
  float: right !important;
}
.para-line {
  margin: 24px 0;
  line-height: 2;
}
.form-group {
  margin-top: 25px;
}

/* statistics */
.stat-card {
  text-align: center;
  text-decoration: none;
  background: #fff;
  padding: 20px 10px 15px;
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 5%);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 5%);
  color: #444;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  transition: transform 0.3s, background 0.3s;
}
.stat-card i {
  display: inline-block;
  font-size: 51px;
  font-size: 3.1875rem;
  color: #004dda;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #0044c2;
  background-color: rgba(0, 77, 218, 0.05);
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 15px;
}
.stat-card h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
.stat-card:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  transform: scale(1.1);
  color: #1bc475;
}
.card-image {
  height: 72px;
}
.percentage {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.text_para {
  margin: 0;
  font-weight: 500;
  line-height: 20px;
  height: 43px;
  font-size: 14px;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.font50 {
  font-size: 50px;
}
.b-500 {
  font-weight: 500;
}
.b-700 {
  font-weight: 700;
}
.z-index3 {
  z-index: 3;
}
.banner-p {
  z-index: 4;
  width: auto;
  color: #fff;
}
.btn-div-rw{
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
  border-radius: 10px;
  /* margin-top: -4.5rem; */
  z-index: 20;
}
.green-out-btn {
  color: #1bc475;
  border: 2px solid #1bc475;
  border-radius: 0;
  font-weight: 500;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.251);
  margin: 3rem 2.5rem;
}
.dark-blue {
  color: #003151;
}
#issue {
  text-decoration: none;
  font-style: italic;
  color: #fff;
}
#home-banner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}
/* NewNav */
#top-navbar {
  padding-bottom: 0;
}
#top-nav1 .navbar-brand {
  width: 193px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.brand-logo {
  width: 100%;
}

#top-nav1 .nav-link {
  display: flex;
  align-items: center;
}

#top-nav2 .navbar-nav {
  padding: 1px 2rem;
  border-bottom: 1px solid rgb(153, 153, 153);
}
#top-navbar .reportwaste {
  color: black;
  font-weight: 400;
  padding: 0.5rem 1.2rem;
  font-size: 17px;
  text-decoration: none !important;
  margin-left: 20px;
  margin-right: 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-
}
#top-navbar .reportwaste:hover {
  color: #1bc475;
}
#top-navbar .nav-link:hover {
  color: #1bc475;
}
#top-navbar .nav-link:active {
  font-weight: 600;
  border-bottom: 2px solid #1bc475;
}
#top-navbar .nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid #1bc475;
}

/* search form */
#search-form,
#search-form .input-group-text,
#search-form input {
  background-color: #f4f4f4;
  border-radius: 5px;
}
#search-form .form-control {
  color: #111;
  /* opacity: 0.4; */
  font-size: 15px;
}
#search-form .input-group-text {
  color: #959595;
}
#search-form .input-group-prepend {
  display: flex;
  align-items: center;
}

/* donate button */
.donate-btn {
  background: #1bc475;
  color: #fff;
  padding: 0.5rem 2.5rem;
}

.gdump{
  background:linear-gradient(90deg, #2d3e50 60%, #f8f9fa 40%);
  display: grid;
  place-items: center;
  padding: 3rem;
}

.gdumptxt{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-card{
  transform: scale(.95);
  margin: 1rem 3rem;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.carousel-card:hover{
  transform: scale(1.09);
  background-color: #1bc475;
}
.carousel-card p{
  padding: 1.5rem;
}
.react-multiple-carousel__arrow{
  background-color: #1bc475 !important;
}
.react-multi-carousel-list  {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#seemore{
  background-color: #1bc475;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  border-radius: 50px;
  width: fit-content;
}
#seemore:hover{
  background-color: #099e59;
}

.recharts-wrapper{
  margin: auto !important;
}